@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body.home div.content-wrapper div.content div.ezcol.ezcol-one-quarter p a.btn.btn-primary.btn-inversed
{width: 100%!important;}
li.btn{text-align: center !important; width: 100%!important;}
.btn-primary, .btn, input[type="submit"], #dsidx-contact-form-submit, .btn-white 
{text-align: center!important;}
/*body {
    font-family: Arial!important;
}*/
#contact-form {margin-top: 0;}
body.page.page-id-2265 div#main div#main-inner h2, body.page.page-id-3185 div#main div#main-inner h2,
body.page.page-id-2278 div#main div#main-inner h2{display:none;}
.overview-item.buttons a.button,.property-row-price .price_but{
color: #ffffff;
background: #cd2213;
display: block;
font-size: 14px;
font-weight: bold;
padding: 8px 0;
text-align: center;
margin: 20px 0 0;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.property-row-price .package_details.price_but {background: transparent; color: #cd2213; 
    border: 1px solid #cd2213; padding: 7px 0;}
.overview-item.buttons a.button:hover,.property-row-price .price_but:hover,
.property-row-price .package_details.price_but:hover,
.overview-item.buttons a.button:focus,.property-row-price .price_but:focus,
.property-row-price .package_details.price_but:focus{background: #9e1a0f; text-decoration: none;}
.property-row-price .package_details.price_but:hover,
.property-row-price .package_details.price_but:focus{color: #fff;}
.overview-item a.fancybox{cursor: -webkit-zoom-in;}
.overview-item > h3{margin: 20px 0 10px;}

body.page.page-id-1729 div#main-inner h2{display:none;}
body.page.page-id-1729 div#main-inner h2 a{display:block!important;}
body.single.single-property div#rev-slider-widget-2.widget.widget_revslider{display:none!important;}
body.single.single-property div#main-content.col-md-9.col-sm-9{width: 100%!important;}
body.single.single-property div.sidebar.col-md-3.col-sm-3{display: none!important;}
div.map.ui-resizable div#map.map-inner{margin-top:-30%!important; margin-bottom:5%!important;}

.hydra-form-content #hf-property-type-filter-4,
.hydra-form-content #hf-property-type-filter-3,
.hydra-form-content #hf-property-type-filter-2{display: none;}
.hydra-form-content .form-set{float: left;width: 8%;margin-left: 2%;height: 80px;}
#hydraform-complete_horizontal_search,
#hydraform-packages_horizontal_search,
#hydraform-properties_horizontal_search{
border-top: 8px solid #9e1a0f;
border-bottom: 8px solid #9e1a0f;
padding: 10px 0;
float: left;
width: 100%;
position: absolute;
top: -210px;
z-index: 1000;
background: #fff;
}
.hydra-form-content #hf-property-area-filter-2,
.hydra-form-content #hf-property-price-filter-4,
.hydra-form-content #hf-property-area-filter-1,
.hydra-form-content #hf-property-price-filter-3,
.hydra-form-content #hf-property-area-filter,
.hydra-form-content #hf-property-price-filter-2{
width: 36%;
}
.hydra-form-content #hf-property-collection-filter-2,
.hydra-form-content #hf-property-collection-filter-1,
.hydra-form-content #hf-property-collection-filter{
width: 38%;
}
.hydra-form-content .field-type-submit{

float: right;
width: 10%;
margin-right: 2%;
margin-top: 22px;
}
.hydra-form-content .field-type-submit > input{
width: 100% !important;
}
body.page-id-2261 .properties-filter,
body.page-id-2259 .properties-filter,
body.page-id-2249 .properties-filter, body.page-id-2268 .properties-filter{
display: none;
}
#compare-homes .box{
float: left;
width: 30.6%;
margin-left: 4%;
padding: 0;
/*border: 1px solid rgba(0,0,0,0.1);*/
background: transparent;
}
#compare-homes .box.select_1{
margin-left: 0;
}
#compare-homes .box-content{
padding: 0%;
}
#compare-homes .box-content .post-image img{
width: 100%;
height: auto;
}
#compare-homes .box-content .post-image .image-box{
height: 175px;
overflow: hidden;
}
#compare-homes .overview-item{text-align: center;}
#compare-homes .box-content span.load{
text-align: center;
padding: 10px;
display: block;
}
#compare-homes .post-content{
position: relative;
padding: 7px 0 65px;
}
#compare-homes .post-content .hf-property-short-description{
height: 130px;
margin-bottom: 10px;
overflow: hidden
}
.block-content .post-title h3 {border-top: 2px solid rgba(0, 0, 0, 0.1);
    color: #999999; font-size: 14px; margin: 20px 0 8px; padding: 5px 0 0;}
#compare-homes .post-content .hf-property-short-description .field-suffix,
#compare-homes .post-content .hf-property-short-description .field-prefix{
display: none;
}
#compare-homes .box-content a.read_more{
color: #ffffff;
background: #cd2213;
font-size: 11px;
font-weight: bold;
padding: 8px;
text-align: center;
position: absolute;
bottom: 20px;
right: 0;
left: 0;
max-width: 100%;
-webkit-transition: background-color 0.2s linear;
-moz-transition: background-color 0.2s linear;
-o-transition: background-color 0.2s linear;
transition: background-color 0.2s linear;
text-transform: uppercase;
}
#compare-homes .box-content a.read_more:hover{
text-decoration: none;
background: #9e1a0f;
}
#compare-homes .post-data{
border: 1px solid #000;
padding-top: 10px;
}
.page-template-page-view-displays-homes .product.display_home .col-md-4 .inner{padding: 10px; border: 1px solid #000;
width: 100%; float: left;}
#compare-homes .post-data h3{
margin: 10px 0;
text-align: center;
}
#compare-homes .overview-item {margin: 20px 0; padding: 0; clear: both;}

#compare-homes .post-data table,
#compare-homes .post-data table .label{
color: #252525;
}
#compare-homes .post-data table td {font-size: 12px; line-height: 1.5; padding: 0 0 9px;}
#compare-homes .post-data table tr:first-child td {font-weight: bold;}
#compare-homes .post-data table tr.odd{
background: rgba(0,0,0,0.1);
}
#compare-homes .post-data table{
width: 100%;
/*border: 1px solid rgba(0,0,0,0.1);*/
text-transform: uppercase;
}
#compare-homes .post-data table + table {
    margin-top: 12px;
}
#compare-homes .select-wrapper select{
background: transparent;
z-index: 10;
height: 37px !important;
padding: 5px !important;
border: 1px solid #000000 !important;
}
.properties-items .property-box-header{height: 30px; overflow: hidden;}

div.property-box-subtitle {
    margin-bottom: 0;
}
.properties-items .property-box-header {
    min-height: 21px;
}
.header-top .navbar-toggle {
margin: 0;
padding: 15px 10px;
}
.type-page .btn-primary.btn {
width: 100%!important;
}
.page .ezcol p > a{
text-align: center;
display: block;
}
.items-list .property-box{
padding-bottom: 75px;
}
.items-list .property-box-price{
position: relative;
}
#menu-header li.menu-item{
min-width: 150px;
}
.page .ezcol-one-third img{
width: 100%;
height: auto;
}
#customh1{
background-color: rgba(37, 37, 37, 0.9); 
padding: 12px 10px 12px 10px;  
color: #ffffff; font-size: 18px;
}

.flex-control-thumbs li {
    float: left!important;
}

.select-wrapper select {
    width: 100%!important;
    font-weight: 300;
}

/******************
CUSTOM OVERRIDES
/**********************/

.header-bar {border-top:0px; background:none}

.header-top {border-top:0px; background:none;  padding: 10px 0 15px;}

.header-identity {float:left;}

.menu-header-container {float:right;}

#menu-header li.menu-item {border:0px; padding:0px; margin:0 0 10px 0}
#menu-header li.menu-item a {color:#0d0d0d; font-size:25px; font-weight:500}
#menu-header li.menu-item a i.fa {background:url(assets/img/phone.png) no-repeat 0 0; background-size:cover; width:30px; height:42px; margin:0 10px 0 0}
#menu-header li.menu-item a i.fa-phone:before {display:none;}


.header-navigation {float:right; margin-top: 0;}
.header-navigation .container {width:auto !important;}

/*extra-css*/
body,body *:not(.fa):not(.ab-icon){font-family: 'Open Sans', sans-serif !important;}
body{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/*body .fa{font-family: 'FontAwesome' !important;}*/
a:hover, a:focus{color: #cd2213;}
a:focus {outline:none; outline-offset: 0;}
.header-slogan{color: #cd2213}
#header-wrapper {position: relative; z-index: 99999;}
.slide-home{z-index: 99;}
.form-contact .form-input-item input,
.form-contact .form-input-item select {border-width: 1px !important;}
.form-contact .form-input-item input.submit:active,
.form-contact .form-input-item input.submit:focus{background: #9e1a0f;}
#footer #menu-social li.fa-twitter{background: url('assets/img/twitter_icon.png') no-repeat 0 0;
background-size: auto 48px;}
.overview-item.custom-floor,#compare-homes .overview-item{background: #fff;}
body #fancybox-close{right: -35px;}
body #fancybox-title-float-wrap td{width: auto;}
.display_home .col-md-4 img {width: 100%;}
.display_home .col-md-4 .text {padding: 5px 15px;}
.display_home .col-md-4 .text h3 {font-size: 16px; font-weight: 600;}
.hours,.address,.on_display,.link,.address .info,.list_by_loaction {
    float: left;
    width: 100%;
}
.display_home .hours .head,.info .head,
.page-template-page-view-displays-homes .product.display_home .col-md-4 .inner .on_display > p {
    float: left;
    width: 100px;
    font-weight: 600;
}
.display_home .hours .contn,
.page-template-page-view-displays-homes .product.display_home .col-md-4 .inner .on_display .des {
    float: left;
    width: 150px;   
}

.info .contn {
    float: left;
    width: 190px;
}
.info .contn > a,.widget_categories ul li a,.login_logout > a,.favorited_homes_ul li .inner .title > a,
.sidebar .widget_nav_menu ul li a {
    color: #252525;
}

.info .contn > a:hover,.widget_categories ul li a:hover,.sidebar .widget_nav_menu ul li a:hover,.login_logout > a:hover,
.favorited_homes_ul li .inner .title > a:hover,body .properties-items .property-box-header .property-box-title a:hover{color: #cd2213;}
.address,.on_display {
    margin: 0 0 50px;
}
.on_display > p {
    line-height: normal;
    margin: 0 0 10px;
    font-weight: 600;
}
.on_display ul {
    padding: 0;
}
.on_display ul li {
    display: block;
    line-height: normal;
    margin: 0 0 7px;
} 
.display_home .link a.btn{display: block;}
.on_display > div {float: left; width: 33.33%;}
#compare-homes .hf_property_overview_custom.room,
.property-row-data .hl_property_custom.room {border-bottom: none; padding: 0; margin: 0 0 15px -9px;  float: left;}
#compare-homes .hf_property_overview_custom.room li,
.property-row-data .hl_property_custom.room li {float: left; font-size: 13px !important; font-weight: 800; 
  margin: 0 0 5px 9px; height: 20px; padding: 0 22px 0 0; width: auto;}

#compare-homes .hf_property_overview_custom.room li.beds,
.property-row-data .hl_property_custom.room li.beds {background: url("assets/img/bed_icon.png") no-repeat scroll right 5px !important;
    background-size: 15px auto !important;}
#compare-homes .hf_property_overview_custom.room li.baths,
.property-row-data .hl_property_custom.room li.baths {background: url("assets/img/bath_icon.png") no-repeat scroll right 7px !important;
    background-size: 18px auto !important;}
#compare-homes .hf_property_overview_custom.room li.garages,
.property-row-data .hl_property_custom.room li.garages{background: url('assets/img/garag_icon.png') no-repeat right 2px !important;
background-size: 15px auto !important;}
.room li.storeys{background: url("assets/img/storeys_icon.png") no-repeat scroll right 3px !important;
  background-size: 16px auto !important;}
.room li.area{background: url('assets/img/area_icon1.png') no-repeat right 4px !important;
  background-size: 16px auto !important;}

.page-template-page-properties .custom_properties_horizontal_search #hydraform-properties_horizontal_search,
.page-template-page-properties .custom_properties_horizontal_search #hydraform-packages_horizontal_search{top: 0; position: relative;}
.page-template-page-properties .custom_properties_horizontal_search #hydraform-properties_horizontal_search .form-set,
.page-template-page-properties .custom_properties_horizontal_search #hydraform-properties_horizontal_search .field-type-submit,
.page-template-page-properties .custom_properties_horizontal_search #hydraform-packages_horizontal_search .form-set,
.page-template-page-properties .custom_properties_horizontal_search #hydraform-packages_horizontal_search .field-type-submit
{width: 100%; margin-left: 0;  margin-right: 0;} 
.custom_filter_form .hydra-form .hydra-form-content form{top: 0 !important; position: relative !important;}
.custom_filter_form .hydra-form .hydra-form-content form .form-set,
.custom_filter_form .hydra-form .hydra-form-content form .field-type-submit{width: 100% !important;}
.custom_filter_form .hydra-form .hydra-form-content form .field-type-submit{margin-left: 2%; margin-right: 0;}
.custom_filter_form .hydra-form .hydra-form-content form .form-set input[type="radio"] + label {margin: -11px 10px 0 5px; vertical-align: middle;}

.blog .slide-home {margin-bottom: 37px;}
.widget_categories ul,.sidebar .widget_nav_menu ul {padding: 0 0 0 20px;}
.login_logout {font-size: 14px; margin: 6px 0 0;}
.header-icon {padding-left: 13px;}
.properties-items .property-box{padding-top: 6px; padding-left: 15px; padding-right: 15px;}
.properties-items .property-box-header{text-align: left;}
.properties-items .property-box-header .property-box-title{float: left; line-height: normal; z-index: 9; 
    width: 175px; font-size: 15px;}

.properties-items .property-box-header  .favourites{float: right; position: relative; z-index: 9;}
.properties-items .property-box-meta .group-field-item .label{padding: 4px 0px;}
.properties-items .property-box-meta .group-field-item .field-item{padding: 2px 0;}

.properties-items .property-box-inner  a[title="Remove"],
.properties-items .property-box-inner > .wpfp-span > span{background: url('assets/img/star_saved.png') no-repeat 0 0;
 background-size: 25px auto;}

.properties-items .property-box-inner > a.save,
.properties-items .property-box-inner a[title="Add"]{background: url('assets/img/star_unsaved.png') no-repeat 0 0;
 background-size: 25px auto;}
.properties-items .property-box-inner > a,
.properties-items .property-box-inner a[title="Add"],
.properties-items .property-box-inner  a[title="Remove"]{display: block; text-indent: -999999px; width: 25px; height: 25px;
position: absolute; right: 25px; z-index: 99; top: 5px;}

.inner_custom a .property-box-meta {color: #252525;}
.property-box-picture > a {
    text-decoration: none;
}
.properties-items .property-box-inner > a.save_compare{right: 0; text-indent: 0; color: #000;} 
.properties-items .property-box-inner > a.save_compare.active_compare{color: #cd2213;}
.saved_home {position: absolute;  top: 0;  right: 0; width: 70px; height: 55px; padding: 2px; background: #000;}
.saved_home > a {color: #000; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); 
background: url('assets/img/fav_star.png') no-repeat 0 0; background-size: 35px auto; display: inline-block; width: 35px; height: 35px;
text-align: center; padding: 7px 0 0; font-size: 11px;}
.saved_home > a:hover,.saved_home > a:focus{text-decoration: none; background: url('assets/img/fav_star_h.png') no-repeat 0 0;
background-size: 35px auto;}
.properties-items.isotope .items-list .property-box-price {padding: 0 16px 5px; text-align: left;}
body .properties-items .property-box-header .property-box-title a {font-size: 20px; line-height: 20px;}
.properties-items .wpfp-hide.wpfp-img {float: right; margin: 5px 5px 0 0; position: relative; z-index: 999;}
.btn-primary.btn-inversed:hover, .btn.btn-inversed:hover, #comments .btn:hover, #comments input[type="submit"]:hover,
.hydra-form .btn:hover, input[type="submit"]:hover,.map-navigation .btn:hover, #dsidx-contact-form-submit:hover, 
.btn-white.btn-inversed:hover{color: #fff;}

.favorited_homes_ul {padding: 0; margin: 0 -15px;}
.favorited_homes_ul li{float: left; display: block; width: 33.33%; padding: 0 15px; margin-bottom: 25px;
position: relative;}
.favorited_homes + p {color: #cd2213; float: left; width: 100%; text-align: center;}
.favorited_homes_ul li .inner{border: 2px solid rgba(0, 0, 0, 0.1);}
.favorited_homes_ul li .inner .image img{width: 100%; height: auto;}
.favorited_homes_ul li .inner .title{font-size: 15px; font-weight: 600; padding: 12px 15px 15px;}
.favorited_homes_ul li a.remove-parent {background: url("assets/img/remove.png") no-repeat scroll 0 0;
background-size: 15px auto; display: block; float: right; height: 15px; text-indent: -999999px;
    width: 15px; margin: 5px 0 0; position: absolute; right: 30px; bottom: 20px;}
.property-detail .col-md-4 .overview-item {padding: 1px 20px 20px;}
.property-detail .col-md-4 .overview-item > h3{margin-top: 19px;}
.property-detail .col-md-4 .overview-item.buttons a.button{margin-top: 19px;}

.property-row-data {
    float: left;
    width: 60%;
}
.property-item .property-row-price {
    float: right;
    width: 35%;
    color: #252525;
}
.property-item .property-row-price .from {
    display: block;
    font-size: 16px;
    margin: 7px 0 10px;
}

.property-row-data .area {
    display: block;
}
.property-row-data .address, .property-row-data .area {
    margin-bottom: 5px;
}
.property-row-price .price_but{margin: 8px 0 0;}

.list_by_loaction ul{padding: 0; margin: 0 -25px;}
.list_by_loaction ul li {display: block; float: left; font-size: 16px;  font-weight: 600;
    margin: 0 0 20px; padding: 0 25px; text-transform: uppercase; width: 25%;}
.list_by_loaction ul li a {color: #252525; display: block;}
.list_by_loaction ul li a:hover {color: #cd2213; text-decoration: none;}
.list_by_loaction ul li a span.number {border: 1px solid #252525; display: block; min-width: 35px;
    padding: 4px 2px; text-align: center; float: left; margin: 0 30px 0 0;}
.list_by_loaction ul li a:hover span.number{background-color: #252525; color: #fff;}
.list_by_loaction ul li a span.title {display: inline-block;  padding: 4px 0 0;}
.top-fullwidth-h2,.home .page-title,.category-testimonials .post .col-md-2,
.category-awards .post .col-md-2{display: none;}
.category-testimonials .slide-home,.category-awards .slide-home{margin-bottom: 20px;}
.slide-home + .container {position: relative; z-index: 99;}
.page-id-6378 .box-custom-home{margin-top: 0;}
.flex-direction-nav a {margin: 0; top: 50%; transform: translate(0px, -50%); -moz-transform: translate(0px, -50%);
-webkit-transform: translate(0px, -50%); -ms-transform: translate(0px, -50%);}
.tab-content h4 {font-size: 15px; font-weight: bold;}
.form-top-custom .header-form h4{margin-left: -15%;}
.footer-icon-right{margin-right: 15px; margin-top: -32px;}
/*.footer-icon-right > a:first-of-type {margin: 0;}*/
.footer-icon-right > a {display: inline-block; margin: 0 0 0 11px;}
.overview_table table {width: 100%; margin: 20px 0 0;}
.overview_table table tr {border: 3px solid #f4f4f4;}
.overview_table table tr:nth-child(2n) {background-color: #f4f4f4;}
.overview_table table tr td{padding: 5px 8px;}
.overview_table table tr td:first-child,.overview_table table tr:first-child td{font-size: 12px; font-weight: 900;}
body .block-content .ezcol.ezcol-one-third h3{font-size: 30px;}
.form-contact .g-recaptcha {margin-top: -3px; transform: scale(0.913); -moz-transform: scale(0.913);
    -webkit-transform: scale(0.913); -ms-transform: scale(0.913); transform-origin: 0;
    -moz-transform-origin: 0; -webkit-transform-origin: 0; -ms-transform-origin: 0;}
.form-contact input.submit{/*width: auto !important;*/}
.form-contact div.wpcf7-response-output{width: 76%; margin-right: auto; margin-left: auto;}
.form-input-item.col-md-8 {height: 89px;}
.form-contact .form-input-item.col-md-8 .text-784 input,
.form-contact .form-input-item.col-md-8 .text-922 input {height: 69px !important;}

.filters-heading + .properties-items {float: left; width: 100%;}
.filters-heading {float: right;  margin: 35px 15px 50px 0;}
.filters-heading > a {color: #000; border: 1px solid #000; padding: 11px 20px;
    text-transform: uppercase; font-size: 14px; line-height: 14px;}
.filters-heading > a:hover,.filters-heading > a:focus{background-color: #000; color: #fff; text-decoration: none;}
.filters-heading > a i {font-size: 17px; line-height: 1;margin: 3px 10px 0 -10px; display: inline-block; vertical-align: top;}
.block-content-inner .row.explore-img{padding: 0 140px;}  


/*.flexslider{height: 650px;}*/
.flexslider_gallery .flex-viewport,.flexslider_gallery .flexslider .slides,
.flexslider_gallery .flexslider .slides > li.field-item{height: 100%;}
.flexslider_gallery .flexslider .slides > li.field-item img,.map-over{display: none;}
.flexslider_gallery .flexslider .slides > li.field-item {background-repeat: no-repeat; background-size: cover; 
	background-position: 50% 50%;}
.single-property div#main-content{margin-top: 0;}
.single-property .box-left .features {margin: 0 0 20px 10px; text-align: left;}
.publish-tours .ezcol {margin-bottom: 45px;}
.box-custom-home .col-md-4 .row {overflow: hidden; position: relative;}
.box-custom-home .col-md-4 .row::after {background: rgba(0, 0, 0, 0.3); content: ""; display: block;
    height: 318px; left: 0; max-height: 100%;  position: absolute; top: 0;
    width: 100%; z-index: 99; -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.box-custom-home .col-md-4:hover .row::after{visibility: hidden; opacity: 0;}
.box-custom-home .col-md-4 h4{z-index: 999;}
.hydra-form-content .form-set.radio-logo{height: auto;}
.selector-logo{margin: 0 -10px;}
.selector-logo input[type="radio"]{display: none;}
.selector-logo label{width: 50%; padding: 0 10px; float: left; margin: 0 0 10px !important;}
.selector-logo label img{max-width: 100%; height: auto; opacity: 0.7;}
.selector-logo input:checked + label img{opacity: 1;}


/*responsive*/
@media (max-width: 991px) and (min-width: 960px){
   .header-top .clearfix{display: none;}
   .header-identity{margin: 0;} 
}
@media (max-width: 991px) and (min-width: 768px){
  .selector-logo label{width: 100%;}
}

@media (min-width: 992px) {
  .header-nav li + li {margin-left: 8px;}
  .header-nav li a {padding: 13px 5px 20px; font-size: 13px;}
  .header-identity img {height: auto; max-width: 100%;}
  .header-identity {width: 210px; margin: -31px 0 0;}
  #menu-header li.menu-item a i.fa{width: 25px; height: 35px;}
  #menu-header li.menu-item a{font-size: 22px;}  
}
@media (min-width: 1200px) {  
  .header-identity {width: 280px;}  
  .header-nav li + li {margin-left: 8px;}
  .header-nav li a{padding: 17px 10px 20px; font-size: 15px;}
  #menu-header li.menu-item a{font-size: 23px;}
  /*.box-custom-home {margin-top: -345px;}*/
}
@media (min-width: 1380px) {
  #header .container {width: 1350px;} 
  .header-identity {width: 280px;}  
 
}

@media (max-width: 1600px){
.rev_slider .tp-caption.lfr.custm_position.start {left: 0 !important; right: 0 !important; text-align: center;}
.rev_slider .custm_position img{max-width: 1200px !important; height: auto !important;}
}

@media (max-width: 1470px) and (min-width: 1380px) {
.header-top > .container {position: relative;}
.header-actions.pull-right{margin-right: 95px;}
.saved_home{right: 25px;}
.header-navigation {margin-top: 15px;}
.header-nav li a{padding-top: 8px;}
}
@media (max-width: 1366px){
.box-custom-home .container {padding-left: 150px; padding-right: 150px;}
.rev_slider .tp-caption.lfr.custm_position.start {top: 0 !important;}
.rev_slider .custm_position img{max-width: 1100px !important;}
}
@media (max-width: 1290px) and (min-width: 1200px) {
.header-top > .container {position: relative;}
.header-actions.pull-right{margin-right: 95px;}
.saved_home{right: 25px;}
.header-navigation {margin-top: 15px;}
.header-nav li a{padding-top: 8px;}
}
@media (max-width: 1200px){
.box-custom-home .container {
    padding-left: 15px;
    padding-right: 15px;
}
.home .block-content h3{
height: 82px;
overflow: hidden;
}
.home .page .ezcol-one-quarter img{
width: 100%;
height: auto;
}
.home .page .ezcol-one-quarter{
height: 490px;
overflow: hidden;
}
.home .page .ezcol-one-quarter a.btn-primary{
position: absolute;
bottom: 0;
}
#compare-homes .box{width: 48%; margin-bottom: 50px;}
#compare-homes .box.select_3{margin-left: 0; clear: both;}
.info .contn{width: 160px;}
.display_home .col-md-4 .text h3{min-height: 35px;}
.list_by_loaction ul{margin: 0 -15px;}
.list_by_loaction ul li{width: 33.33%; padding: 0 15px;}
}

@media (max-width: 1190px) and (min-width: 992px) {
.header-top > .container {position: relative;}
.header-actions.pull-right{margin-right: 95px;}
.saved_home{right: 25px;}
.header-navigation {margin-top: 15px;}
.header-nav li a{padding-top: 8px;}
}

@media (max-width: 992px){
.property-detail .overview-item.buttons{margin-bottom: 30px;}
.display_home .col-md-4.col-sm-6:nth-child(2n+1) {clear: both;}
.display_home .col-md-4.col-sm-6 {margin-bottom: 35px; display: inline-block;}
.box-custom-home .col-md-4 {max-width: 420px; margin: 0 auto;}
.form-top-custom .header-form h4{margin-left: 0;}
.footer-icon-right {margin: 10px auto; width: 100%;}
.form-contact input.submit{margin-top: 20px;}
.form-contact div.wpcf7-response-output{width: 88%;}
.map-google #map{height: 600px !important;}
.overview-item .col-md-6.mix-property{border: none;}
.overview-item .col-md-6.box-right {margin-top: 35px;}
.overview-item .col-md-6.box-right a.floor-plan img{display: block; margin: 0 auto;}
}
@media (max-width: 960px) {
#hydraform-complete_horizontal_search,
#hydraform-packages_horizontal_search, #hydraform-properties_horizontal_search
{position: relative; top: 0; margin-bottom: 40px;}
.home .block-content h3{height: 50px;}
.home .page .ezcol-one-quarter{height: 470px;}
.header-icon {padding-left: 0;}
.header-bar {display: block;}
.login_logout {float: left !important; margin: 10px 0 0;}
.header-identity img {height: auto; max-width: 100%;}
.header-identity {width: 210px; margin: -25px 0 0;}
/*.search-top {margin: -25px 0 0;}*/
.header-navigation{left: 0; right: 0; margin: 0 auto;}
.header-top > .container {position: relative;padding-right: 75px;}
.header-top .navbar-toggle{margin-right: 7px;}

}

@media (max-width: 900px){
#compare-homes .select_4{
//display: none;
}
#compare-homes .box {
//width: 31%;
//margin-left: 3.5%;
}
.type-page .otw-text-left{
float: left;
width: 100%;
}
.list_by_loaction ul li{width: 50%;}
}
@media (max-width: 860px) {
.hydra-form-content #hf-property-area-filter-2,
.hydra-form-content #hf-property-price-filter-4,
.hydra-form-content #hf-property-area-filter-1, .hydra-form-content #hf-property-price-filter-3,
.hydra-form-content #hf-property-area-filter, .hydra-form-content #hf-property-price-filter-2{width: 44%;}
.property-detail .slide-product .scron-left,
.property-detail .slide-product .scron-right{display: none;}
.property-detail .carousel_post .flex-direction-nav .flex-prev{left: 0;}
.property-detail .carousel_post .flex-direction-nav .flex-next{right: 0;}
}

@media (max-width: 780px){
.hydra-form-content .form-set{
float: none;
display: inline-block;
}
.hydra-form-content{
height: auto;
padding-bottom: 60px;
float: none;
position: relative;
top: 0;
margin-bottom: 35px;
z-index: inherit;
display: block;
}
.hydra-form-content #hf-property-collection-filter-2,
.hydra-form-content #hf-property-area-filter-2,
.hydra-form-content #hf-property-price-filter-4,
.hydra-form-content #hf-property-collection-filter-1,
.hydra-form-content #hf-property-area-filter-1,
.hydra-form-content #hf-property-price-filter-3,
.hydra-form-content #hf-property-collection-filter,
.hydra-form-content #hf-property-area-filter,
.hydra-form-content #hf-property-price-filter-2 {
width: 100%;
display: block;
margin: 0;
}
.hydra-form-content .form-set {
width: 22.5%;
}
.hydra-form-content .field-type-submit {
width: 100%;
padding: 0;
position: relative;
bottom: 0;
margin: auto 0 10px;
}
.hydra-form-content #hf-property-area-filter-2,
.hydra-form-content #hf-property-price-filter-4,
.hydra-form-content #hf-property-area-filter-1, .hydra-form-content #hf-property-price-filter-3, .hydra-form-content #hf-property-area-filter, .hydra-form-content #hf-property-price-filter-2 {
width: 100%;
}
#compare-homes .select_3{
//display: none;
}
#compare-homes .box {
/*width: 100%;
margin-left: 0;*/
}
#compare-homes .post-content .hf-property-short-description,
#compare-homes .box-content .post-image .image-box{
height: auto;
}
#compare-homes .box-content .post-image .image-box,
#compare-homes .overview-item{
text-align: center;
}
#compare-homes .box-content .post-image img,
#compare-homes .overview-item img{
width: auto;
max-width: 100%;
}
#compare-homes .box-content .post-image .image-box{
padding-top: 15px;
}
.type-page .ezcol-one-half{
width: 100% !important;
}
/* .type-page .ezcol-one-half.ezcol-last {
text-align: center;
}
*/
.block-content .wpcf7{
margin: 0 15px;
}
.omsc-accordion {
margin: 0;
}
.home .block-content h3 {
height: auto;
}
.home .page .ezcol-one-quarter {
height: 460px;
margin-bottom: 50px;
}

}

@media (max-width: 767px){
.display_home .col-md-4.col-sm-6{width: 50%; float: left;}
.display_home .hours .head, .info .head{width: 33%;}
.display_home .hours .contn,.info .contn{width: 65%;}
.display_home .col-md-4 .text{padding: 5px 0;}
.favorited_homes_ul li{width: 50%;}
.slide-home .widget_revslider{display: none;}
.slide-product .carousel-box.container,.property-detail .slide-product .flex-control-nav{display: none;}
.box-right img{max-width: 100%; height: auto;}
.map-google #map{height: 400px !important;}
.block-content-inner .row.explore-img{padding: 0;}
}
@media (max-width: 660px){
.property-item.isotope-item {width: 100%;}
#compare-homes .box{width: 100%; margin: 0 0 30px;}
.list_by_loaction ul li{width: 100%;}
}
@media (max-width: 510px){
.hydra-form-content .form-set {width: 47%; margin: 0 3% 0 0;}
.btn-primary, .btn, input[type="submit"]{width: 100%!important;}
body.blog div.block-content-inner div.row div.col-md-9.col-sm-9 {width: 100%!important;}
div.container{margin: 0;}
div.container.all-back{margin: 30px auto;}
.content img{width: 100%;height: 100%;}
#header-wrapper,#main-wrapper, #footer-wrapper,
#wrapper{display: block;}
html,#header-wrapper, #footer-wrapper {height: auto;}
.page-id-2278 .type-page table tr,
.page-id-2278 .type-page table{float: left; width: 100%;}
.page-id-2278 .type-page table td{float: left; width: 100%;}
.display_home .col-md-4.col-sm-6{width: 100%;}
.display_home .hours .contn, .info .contn{text-align: right;}
.content-tab .nav > li > a{padding-right: 11px; padding-left: 11px;}
.content-tab .nav-tabs li a{font-size: 12px;}
}
@media (max-width: 480px){
.home .block-content h3,
.home .page .ezcol-one-quarter {height: auto;}
.favorited_homes_ul li{width: 100%;}
.form-contact .g-recaptcha {margin-top: -10px; transform: scale(0.73); -moz-transform: scale(0.73);
    -webkit-transform: scale(0.73); -ms-transform: scale(0.73);}
.property-detail h1.property-detail-title {font-size: 28px !important; margin-bottom: 10px;}
.property-detail .subde{width: 30px;}
.property-detail .box-title{padding-top: 11px;}
.property-detail .property-detail-subtitle {margin: 4px 0 10px; line-height: 22px;}
.property-detail .house-and-land-packeage .carousel_post .flex-viewport li span{height: 66px; font-size: 12px; line-height: 16px;}
}
@media (max-width: 360px){
.page-id-2278 .type-page table td{width: 100%;}
.header-top > .container{padding-right: 50px;}
.header-identity{width: 190px; margin: -35px 0 0;}
.saved_home{width: 50px; height: 40px;}
.saved_home > a {background-size: 30px auto; height: 30px; padding: 5px 0 0; width: 30px;}
.saved_home > a:hover, .saved_home > a:focus{background-size: 30px auto;}
.search-top{margin-right: 10px;}
}
.sidebar{width: 25%; display: none!important;}
body.blog .sidebar,
body.category .sidebar{display: block !important;}
.blog div.block-content-inner div.row div.col-md-9.col-sm-9{width: 75%!important;}
td, th {
    padding: 0;
    padding: 5px 10px;
    width: 25%;
}
.omsc-marker {
    background-color: #fffcac;
    border-radius: 0;
    margin-bottom: -0.1em;
    margin-right: 10px!important;
    margin-top: -0.1em;
    padding: 10px!important;
}

.col-md-9 {

}

.omsc-accordion .omsc-toggle {
    display: block;
    margin: 0 0 10px;
border-top-width: 1px!important;
}
.block-content div,
.block-content td,
.block-content p,
.block-content li {
font-size: 14px;
}

.header-title {
    display: none;
}

h1,.page-id-2255 h2.page-title {
font-size: 50px !important;
}

.page-id-1729 a.btn.btn-primary.btn-inversed{
width: 33%!important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

