	/*
Theme Name: Realocation
Theme URI: http://wp.realocation.byaviators.com
Description: Modern Real-Estate Theme
Author: Aviators
Author URI: http://byaviators.com
Version: 1.5.6
Tags: two-columns, right-sidebar, featured-images, translation-ready
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html
*/

.center             { text-align: center; }
.aligncenter        { margin: auto; text-align: center; margin-bottom: 22px; display: block !important;}
.alignleft          { float: left; margin: 0px 30px 22px 0px;  }
.alignright         { float: right; margin: 0px 0px 22px 30px; }

.left               { float:left;  }
.right              { float:right; }

small               { font-size: 12px; line-height: 14px; }
strong              { font-weight: bold;}
b                   { font-weight: bold; }

.normal             { font-weight: normal; }
.hidden             { display: none; }
.wp-caption         { } 
.wp-caption-text    { } 
.sticky             { } 
.gallery-caption    { } 
.bypostauthor       { }




iframe {max-width: 100%;}
.post-date .day {color: #fff; display: block; font-size: 48px; font-weight: bold; line-height: 1; margin-bottom: -7px; margin-right: -3px; margin-top: 5px; text-align: center; padding-bottom: 10px;}
div.ezcol.ezcol-one-quarter p img{margin-bottom: 20px;}






.induction-form_wrapper input.gform_next_button,
.induction-form_wrapper input.gform_previous_button,.induction-form_wrapper input.gform_button,
.induction-form_wrapper #gform_send_resume_link_button_1 {
    font-weight: bold;
    background: #cd2213;
    -webkit-appearance: none;
    padding: 8px 10px;
    border: none;
    color: #fff !important;
}

.red-list strong {
    color: #cd2213;
}

.gform_wrapper input.medium {
    border: 1px solid #000 !important;
}


